{% load static %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ИТОС - О программе</title>

</head>
<body>
<!-- Шапка сайта -->
<header class="main-header">
    <div class="header-content">
<nav class="top-nav">
	<div class="header">
		<a href="/" class="logo-muiv">
			<img src="/static/img/favicon.png" width="240" height="105" class="logo-muiv--full"
					 alt="МУ им. С.Ю. Витте">
		</a>
        <a class="menu" href="/">Главная</a>
        <a class="menu" href="/blog/nlp/">Технологии NLP</a>
	    {% if dashboard_button %}
            <a href="{% url dashboard_button.url %}" class="menu">
                {{ dashboard_button.text }}
            </a>
        {% endif %}
	    <a class="menu" href="/blog/faq/">Часто задаваемые вопросы</a>
	    <a class="menu" href="/blog/contacts/">Контакты</a>

</div>
</nav>
<!-- /Шапка сайта -->
</div>
</header>

<section class="wrapper">
    <div class="about-content">
        <div class="about-info">
        <nav class="breadcrumb">
        <a href="/">Главная</a>
        <span>&gt;О программе</span>
        </nav>
      <h1 class="dark-blue-text">Расскажи об ИТОС <br>коллегам и друзьям!</h1>
            </div>
          <div class="about-img">
            <img class="about-img" src="{% static 'img/about.png' %}" alt="О программе">
          </div>
</div>
</section>


<section class="light-blue-wrapper">
  <div class="about-text-content">
    <div class="about-white-cards">
      <article class="card-about-program">
        <h2 class="dark-blue-text-about">Языки программирования</h2>
        <p class="dark-blue-text-about">
            <b>Python с использованием <br>
                фреймворка Django, в качестве<br>
                 базы данных - PosgreSQL.</b></p>
      </article>
      <article class="card-about-program">
        <h2 class="dark-blue-text-about">Версия программы</h2>
        <p class="dark-blue-text-about">
            <b>Это первая версия программы,<br>
            если Вы заметили баги, <br>
            непременно напишите нам.</b></p>
      </article>
      <article class="card-about-program">
        <h2 class="dark-blue-text-about">Используемая нейросеть</h2>
        <p class="dark-blue-text-about">
            <b>RuBert DeepPavlov - это <br>
            предобученная модель<br>
            для классификации текста.</b></p>

      </article>
    </div>
      <h2 class="dark-blue-text-about-center">Вы можете скачать доступную в<br>данный момент НСИ</h2>

    <div class="about-white-cards">
      <article class="card-about-program-second">
        <h2 class="dark-blue-text-about">Требования к системе</h2>
      </article>
      <article class="card-about-program-second">
        <h2 class="dark-blue-text-about">Руководство пользователя</h2>
      </article>
      <article class="card-about-program-second">
        <h2 class="dark-blue-text-about">Техническое задание</h2>
      </article>
    </div>
  </div>
</section>


    <footer class="footer-wrapper">
        <div class="footer-content">
            <div class="footer-left-box">
            <div class="footer">
                <div class="footer-logos">
                    <div class="footer-white-cards">
         <a href="/" class="logo-muiv-footer">
			<img src="/static/img/favicon.png" width="240" height="105" class="logo-muiv--full"
					 alt="МУ им. С.Ю. Витте">
		</a></div>
                <div class="footer-white-cards">

            <a href="/" class="logo-itos">
			<img src="/static/img/ITOS.ico" width="105" height="154" class="logo-itos"
					 alt="МУ им. С.Ю. Витте">
		</a>
                    </div></div>
                <div class="rights">
              <p>©2025 МУИВ. Все права защищены.</p>
                </div>

        </div>
            </div>
        </div>
        </footer>
</body>
</html>
