{% load static %}
<link rel="stylesheet" href="{% static 'css/contacts.css' %}">

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ИТОС - Контакты</title>

</head>
<body>
<!-- Шапка сайта -->
<header class="main-header">
    <div class="header-content">
<nav class="top-nav">
	<div class="header">
		<a href="/" class="logo-muiv">
			<img src="/static/img/favicon.png" width="240" height="105" class="logo-muiv--full"
					 alt="МУ им. С.Ю. Витте">
		</a>
        <a class="menu" href="/">Главная</a>
        <a class="menu" href="/blog/nlp/">Технологии NLP</a>
	    {% if dashboard_button %}
            <a href="{% url dashboard_button.url %}" class="menu">
                {{ dashboard_button.text }}
            </a>
        {% endif %}
	    <a class="menu" href="/blog/faq/">Часто задаваемые вопросы</a>
	    <a class="menu" href="/blog/about/">О программе</a>

</div>
</nav>
<!-- /Шапка сайта -->
</div>
</header>

<section class="wrapper">
    <div class="program-content">
        <div class="program-info">
        <nav class="breadcrumb">
        <a href="/">Главная</a>
        <span>&gt;Контакты</span>
        </nav>
      <h1 class="dark-blue-text">Ждем Вас в гости на факультете <br>
          информационных технологий!</h1>
            </div>
          <div class="office-img">
            <img class="office-img" src="{% static 'img/muiv_office.png' %}" alt="Контакты">
          </div>
</div>
</section>


<section class="dark-blue-wrapper-contact">
  <div class="contact-text-content">
    <div class="contact-white-cards">
      <article class="card-about-contact">
        <h2 class="dark-blue-text-contact">ЧОУ ВО “Московский университет<br>
            им. С.Ю. Витте”</h2>
        <p class="dark-blue-text-contact">
            <b>Часы работы:<br>
                Пн-Чт: 09:30-18:15<br>
                Пт: 09:30-17:00</b></p>
      </article>
      <article class="card-about-contact">
        <h2 class="dark-blue-text-contact-second">Контакты</h2>
        <p class="dark-blue-text-contact">
            <b>115432, Москва, 2-й Кожуховский проезд,<br>
            д. 12, стр. 1 <br>
            info@muiv.ru,<br>
            + 7 499 877 17 05</b></p>
      </article>

    </div>
  </div>
</section>


    <footer class="footer-wrapper">
        <div class="footer-content">
            <div class="footer">
                <div class="footer-white-cards">
         <a href="/" class="logo-muiv-footer">
			<img src="/static/img/favicon.png" width="240" height="105" class="logo-muiv--full"
					 alt="МУ им. С.Ю. Витте">
		</a></div>
                <div class="footer-white-cards">

            <a href="/" class="logo-itos">
			<img src="/static/img/ITOS.ico" width="105" height="154" class="logo-itos"
					 alt="МУ им. С.Ю. Витте">
		</a>
                    </div>
                <div class="rights">
              <p>©2025 МУИВ. Все права защищены.</p>
                </div>
            </div>
        </div>
        </footer>
</body>
</html>


