{% load static %}
<link rel="stylesheet" href="{% static 'css/eda.css' %}">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ИТОС|EDA</title>

</head>
<body>
<!-- Шапка сайта -->
<header class="main-header">
    <div class="header-content">
<nav class="top-nav">
	<div class="header">
		<a href="/" class="logo-muiv">
			<img src="/static/img/favicon.png" width="240" height="105" class="logo-muiv--full"
					 alt="МУ им. С.Ю. Витте">
		</a>
        <a class="menu" href="/">Главная</a>
	    {% if dashboard_button %}
            <a href="{% url dashboard_button.url %}" class="menu">
                {{ dashboard_button.text }}
            </a>
        {% endif %}
	    <a class="menu" href="/blog/faq/">Часто задаваемые вопросы</a>
	    <a class="menu" href="/blog/about/">О программе</a>
        <a class="menu" href="/blog/contacts/">Контакты</a>

</div>
</nav>
<!-- /Шапка сайта -->
</div>
</header>

<section class="wrapper">
    <div class="eda-content">
        <div class="eda-info">
        <nav class="breadcrumb">
        <a href="/">Главная</a>
        <a href="/blog/nlp/">&gt;Технологии NLP</a>
        <span>&gt;Разведочный анализ данных</span>
        </nav>
      <h1 class="dark-blue-text">Разведочный анализ данных  <br>
          (EDA) для текстовых данных</h1>
            </div>
          <div class="eda-img">
            <img class="eda-img photo" src="{% static 'img/eda.png' %}" alt="EDA">
          </div>
</div>
</section>


<section class="yellow-wrapper-eda">
  <div class="eda-text-content">
      <h2 class="dark-blue-text-eda">Цели EDA</h2>
    <div class="eda-white-cards">
      <article class="card-about-eda">
        <h3 class="dark-blue-text-eda">Понимание структуры и параметров<br>
            набора данных</h3>
        <p class="dark-blue-text-eda">
            <b>Имеют значение: размерность данных,<br>
                типы переменных в наборе данных,<br>
                пропуски в признаках, наличие<br>
                дубликатов и другие аспекты.</b></p>
      </article>
      <article class="card-about-eda">
        <h3 class="dark-blue-text-eda">Выявление в наборе аномалий и<br>
            выбросов</h3>
        <p class="dark-blue-text-eda">
            <b>Выбросы и аномалии могут возникать из-за<br>
                ошибок ввода, случайных событий или<br>
                указывать на систематические проблемы в<br>
                сборе данных.</b></p>
      </article>
    </div>
      <div class="eda-white-cards">
      <article class="card-about-eda">
        <h3 class="dark-blue-text-eda">Идентификация связей и корреляций<br>
            между переменными</h3>
        <p class="dark-blue-text-eda">
            <b>Разведочный анализ данных помогает<br>
                понять влияние одних признаков на другие<br>
                (корреляция) или отсуствие корреляции.</b></p>
      </article>
      <article class="card-about-eda">
        <h3 class="dark-blue-text-eda">Подготовка данных для дальнейших<br>
            этапов анализа</h3>
        <p class="dark-blue-text-eda">
            <b>Данные очищают от шума, заполняют<br>
                пропуски, проводят масштабирование или<br>
                преобразование переменных.</b></p>
      </article>
    </div>
  </div>
</section>

<section class="dark-wrapper-eda">
  <div class="eda-text-content">
      <h2 class="white-text-eda">Методы EDA</h2>
    <div class="eda-white-cards">
      <article class="card-about-eda">
        <h3 class="dark-blue-text-eda">Визуализация данных</h3>
        <p class="dark-blue-text-eda">
            <b>Через графические изображения и<br>
                диаграммы можно увидеть закономерности,<br>
                динамику и связи между данными. </b></p>
      </article>
      <article class="card-about-eda">
        <h3 class="dark-blue-text-eda">Анализ выбросов и аномалий</h3>
        <p class="dark-blue-text-eda">
            <b>Процесс выявления и исследования<br>
                значений данных, которые существенно<br>
                отличаются от остальных наблюдений.</b></p>
      </article>
    </div>
      <div class="eda-white-cards">
      <article class="card-about-eda">
        <h3 class="dark-blue-text-eda">Статистический анализ</h3>
        <p class="dark-blue-text-eda">
            <b>Определение аномальных значений на<br>
                основе критериев, таких как<br>
                интерквартильный размах или Z-оценка.</b></p>
      </article>
      <article class="card-about-eda">
        <h3 class="dark-blue-text-eda">Подготовка данных для анализа</h3>
        <p class="dark-blue-text-eda">
            <b>Очистка данных от шума, заполнение<br>
                или удаление пропусков, масштабирование,<br>
                преобразование переменных.</b></p>
      </article>
    </div>
  </div>
</section>

<section class="light-blue-wrapper-eda">
  <div class="eda-viz-content">
      <h2 class="dark-blue-text-eda">Визуализация EDA</h2>
      <div class="eda-viz-imgs">

        <div class="eda-imgs">
            <img class="eda-imgs viz" src="{% static 'img/eda_1.png' %}" alt="EDA-1">
        </div>
      <div class="eda-imgs">
            <img class="eda-imgs viz" src="{% static 'img/eda_2.png' %}" alt="EDA-2">
        </div>
          </div>
      <div class="eda-viz-imgs">
        <div class="eda-imgs">
            <img class="eda-imgs viz" src="{% static 'img/eda_3.png' %}" alt="EDA-3">
        </div>
      <div class="eda-imgs">
            <img class="eda-imgs viz" src="{% static 'img/eda_4.png' %}" alt="EDA-4">
        </div>
          </div>
  </div>
</section>

    <footer class="footer-wrapper">
        <div class="footer-content">
            <div class="footer-left-box">
            <div class="footer">
                <div class="footer-logos">
                <div class="footer-white-cards">
         <a href="/" class="logo-muiv-footer">
			<img src="/static/img/favicon.png" width="240" height="105" class="logo-muiv--full"
					 alt="МУ им. С.Ю. Витте">
		</a></div>
                <div class="footer-white-cards">

            <a href="/" class="logo-itos">
			<img src="/static/img/ITOS.ico" width="105" height="154" class="logo-itos"
					 alt="МУ им. С.Ю. Витте">
		</a>
                    </div></div>
                <div class="rights">
              <p>©2025 МУИВ. Все права защищены.</p>
                </div>

        </div>
            </div>
        </div>
        </footer>
</body>
</html>
