{% load static %}
<link rel="stylesheet" href="{% static 'css/faq.css' %}">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ИТОС|Часто задаваемые вопросы</title>

</head>
<body>
<!-- Шапка сайта -->
<header class="main-header">
    <div class="header-content">
<nav class="top-nav">
	<div class="header">
		<a href="/" class="logo-muiv">
			<img src="/static/img/favicon.png" width="240" height="105" class="logo-muiv--full"
					 alt="МУ им. С.Ю. Витте">
		</a>
        <a class="menu" href="/">Главная</a>
        <a class="menu" href="/blog/nlp/">Технологии NLP</a>
	    {% if dashboard_button %}
            <a href="{% url dashboard_button.url %}" class="menu">
                {{ dashboard_button.text }}
            </a>
        {% endif %}
	    <a class="menu" href="/blog/about/">О программе</a>
	    <a class="menu" href="/blog/contacts/">Контакты</a>

</div>
</nav>
<!-- /Шапка сайта -->
</div>
</header>

<section class="wrapper">
    <div class="faq-content">
        <div class="faq-info">
        <nav class="breadcrumb">
        <a href="/">Главная</a>
        <span>&gt;Часто задаваемые вопросы</span>
        </nav>
      <h1 class="red-text">Здесь можно найти ответы на <br>часто задаваемые вопросы</h1>
            </div>
          <div class="faq-logo">
            <div class="asks-and-questions-logo">
                <div class="white-logo-text"><b>Все ответы об ИТОС<br>в одном месте!</b></div>
                <img class="img-faq" src="/static/img/asks_and_answers.png" alt="asks-and-answers-logo">

            </div>

          </div>
</div>
</section>


<section class="yellow-wrapper">
  <div class="faq-text-content">
    <div class="faq-white-cards">
      <article class="card-with-faq">
        <h2 class="dark-blue-text-faq">Зачем нужен ИТОС?</h2>
        <p class="dark-blue-text-faq">
            <b>ИТОС разработан для улучшения<br>
            образовательного&nbsp;&nbsp;&nbsp;&nbsp;процесса,<br>
            выявления&nbsp;&nbsp;&nbsp;&nbsp;учебных<br>
            дисциплин,&nbsp;&nbsp;&nbsp;&nbsp;нуждающихся<br>
            в доработке, а&nbsp;&nbsp;также&nbsp;&nbsp;выявления<br>
            сильных&nbsp;&nbsp;дисциплин.</b></p>
      </article>
      <article class="card-with-faq">
        <h2 class="dark-blue-text-faq">Какая мотивация?</h2>
        <p class="dark-blue-text-faq"><b>Менеджеры&nbsp;&nbsp;выполняют&nbsp;&nbsp;свой<br>
            КПЭ, студенты могут получить<br>
            мерч&nbsp;&nbsp;&nbsp;&nbsp;и&nbsp;&nbsp;&nbsp;&nbsp;качественное<br>
            образование,&nbsp;&nbsp;&nbsp;преподаватели<br>
            улучшить&nbsp;&nbsp;&nbsp;образовательный<br>
            процесс.</b></p>
      </article>
      <article class="card-with-faq">
        <h2 class="dark-blue-text-faq">Что такое NLP?</h2>
        <p class="dark-blue-text-faq"><b>NLP -&nbsp;&nbsp;задачи&nbsp;&nbsp;по&nbsp;&nbsp;обработке<br>
            естественного&nbsp;&nbsp;языка.<br>
            Одной&nbsp;&nbsp;из&nbsp;&nbsp;&nbsp;задач&nbsp;&nbsp;является<br>
            определение&nbsp;&nbsp;&nbsp;эмоциональной<br>
            окраски&nbsp;&nbsp;отзывов&nbsp;&nbsp;на&nbsp;&nbsp;большом<br>
            количестве&nbsp;&nbsp;&nbsp;данных.</b></p>

      </article>
    </div>

    <div class="faq-white-cards">
      <article class="card-with-faq">
        <h2 class="dark-blue-text-faq">Какая нейросеть в ИТОС?</h2>
        <p  class="dark-blue-text-faq"><b>Модель RuBert DeepPavlov - <br>
            это предобученная&nbsp;&nbsp;модель&nbsp;<br>
            от Transformers, которая <br>
            была дополнительно&nbsp;обучена&nbsp;&nbsp;&nbsp;на<br>
            отзывах&nbsp;&nbsp;&nbsp;об&nbsp;&nbsp;&nbsp;информационных<br>
            технологиях.</b></p>
      </article>
      <article class="card-with-faq">
        <h2 class="dark-blue-text-faq">Почему именно RuBert?</h2>
        <p class="dark-blue-text-faq"><b>RuBert&nbsp;&nbsp;была&nbsp;&nbsp;обучена на<br>
            последовательностях слов с<br>
            огромным корпусом, одной из<br>
            задач,&nbsp;&nbsp;для&nbsp;&nbsp;которой<br>
            предназначена&nbsp;&nbsp;RuBert -<br>
            классификация&nbsp;&nbsp;текстов.</b></p>
      </article>
      <article class="card-with-faq">
        <h2 class="dark-blue-text-faq">Будет ли визуализация?</h2>
        <p class="dark-blue-text-faq"><b>Данный раздел находится в<br>
            проработке, поскольку требует<br>
            высоких&nbsp;&nbsp;вычислительных<br>
            мощностей,&nbsp;&nbsp;что&nbsp;&nbsp;влечет за<br>
            собой&nbsp;&nbsp;&nbsp;&nbsp;необходимость<br>
            выделения&nbsp;&nbsp;бюджета.</b></p>
      </article>
    </div>
  </div>
</section>

    <footer class="footer-wrapper">
        <div class="footer-content">
            <div class="footer-left-box">
            <div class="footer">
                <div class="footer-logos">
                    <div class="footer-white-cards">
         <a href="/" class="logo-muiv-footer">
			<img src="/static/img/favicon.png" width="240" height="105" class="logo-muiv--full"
					 alt="МУ им. С.Ю. Витте">
		</a></div>
                <div class="footer-white-cards">

            <a href="/" class="logo-itos">
			<img src="/static/img/ITOS.ico" width="105" height="154" class="logo-itos"
					 alt="МУ им. С.Ю. Витте">
		</a>
                    </div></div>
                <div class="rights">
              <p>©2025 МУИВ. Все права защищены.</p>
                </div>

        </div>
            </div>
        </div>
        </footer>
</body>
</html>
