{% load static %}
<link rel="stylesheet" href="{% static 'css/nlp.css' %}">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ИТОС - Технологии NLP</title>

</head>
<body>
<!-- Шапка сайта -->
<header class="main-header">
    <div class="header-content">
<nav class="top-nav">
	<div class="header">
		<a href="/" class="logo-muiv">
			<img src="/static/img/favicon.png" width="240" height="105" class="logo-muiv--full"
					 alt="МУ им. С.Ю. Витте">
		</a>
        <a class="menu" href="/">Главная</a>
	    {% if dashboard_button %}
            <a href="{% url dashboard_button.url %}" class="menu">
                {{ dashboard_button.text }}
            </a>
        {% endif %}
	    <a class="menu" href="/blog/faq/">Часто задаваемые вопросы</a>
	    <a class="menu" href="/blog/about/">О программе</a>
        <a class="menu" href="/blog/contacts/">Контакты</a>

</div>
</nav>
<!-- /Шапка сайта -->
</div>
</header>

<section class="wrapper">
    <div class="nlp-content">
        <div class="nlp-info">
        <nav class="breadcrumb">
        <a href="/">Главная</a>
        <span>&gt;Технологии NLP</span>
        </nav>
      <h1 class="dark-blue-text">Существующие технологии <br>
          обработки естественного языка</h1>
                <div class="eda-btn">
      <a href="/blog/eda/" class="btn-eda">Разведочный анализ данных</a>
      </div>
            </div>
          <div class="nlp-img">
            <img class="nlp-img" src="{% static 'img/nlp.png' %}" alt="NLP">
          </div>
</div>
</section>


<section class="light-blue-wrapper-nlp">
  <div class="nlp-text-content">
    <div class="nlp-white-cards">
      <article class="card-about-nlp">
        <h3 class="dark-blue-text-nlp">Модели машинного обучения</h3>
        <p class="dark-blue-text-nlp">
            <b>К ближайших соседей<br>
                Метод опорных векторов<br>
                Деревья решений<br>
                Метод Байеса<br>
                Ансамблевые методы обучения:<br>
                пакетирование, голосование,<br>
                бустинг, стэкирование</b></p>
      </article>
      <article class="card-about-nlp">
        <h3 class="dark-blue-text-nlp">Модели глубокого обучения</h3>
        <p class="dark-blue-text-nlp">
            <b>Рекуррентные нейросети<br>
                Сети долго-краткосрочной памяти<br>
                Сети замкнутого рекуррентного блока<br>
                Двунаправленная сеть долго-<br>
                краткосрочной памяти<br>
                Представление двунаправленного<br>
                кодера от трансформеров (BERT)</b></p>
      </article>
    </div>
  </div>
</section>

<section class="white-wrapper">
  <div class="goals-content">
      <h2 class="dark-blue-text-nlp">Задачи обработки естественного языка</h2>
    <div class="grey-cards">
      <article class="card-grey">
        <span class="red-text-nlp"><b>Распознавание речи</b></span>
        <p class="dark-blue-text-nlp"><b>Перевод устной речи в<br>
            текстовый формат, перевод с<br>
            одного языка на другой.</b></p>
      </article>
      <article class="card-grey">
        <span class="red-text-nlp"><b>Генерация текста</b></span>
        <p class="dark-blue-text-nlp"><b>Создание осмысленных<br>
             текстов на заданную<br>
             тематику.</b></p>
      </article>
      <article class="card-grey">
        <span class="red-text-nlp"><b>Семантический анализ</b></span>
        <p class="dark-blue-text-nlp"><b>Теггирование, распознавание<br>
             именнованных сущностей,<br>
             анализ тональности.</b></p>

      </article>
    </div>
  </div>
</section>

<section class="dark-blue-wrapper-nlp">
  <div class="second-nlp-content">
      <h2 class="white-text-nlp">Обработка текста для анализа эмоциональной окраски</h2>
    <div class="white-cards-ml">
        <h4 class="white-text-nlp">Модели машинного и глубокого обучения&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Модели глубокого обучения (BERT)</h4>
      <article class="white-card-nlp">
        <p class="dark-blue-text-nlp">
            <b>Токенизация&nbsp;&nbsp;—&nbsp;разбиение&nbsp;текста на<br>
                отдельные&nbsp;&nbsp;значимые&nbsp;&nbsp;&nbsp;&nbsp;единицы.<br>
                Удаление&nbsp;&nbsp;&nbsp;стоп-слов.<br>
                Нормализация&nbsp;&nbsp;&nbsp;слов&nbsp;—&nbsp;представление<br>
                слова&nbsp;&nbsp;&nbsp;в&nbsp;&nbsp;&nbsp;его&nbsp;начальной форме.<br>
                Приведение&nbsp;&nbsp;слов&nbsp;к&nbsp;единому регистру.</b></p>
      </article>
      <article class="white-card-nlp">
        <p class="dark-blue-text-nlp">
            <b>Нормализация&nbsp;&nbsp;&nbsp;текста&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;приведение <br>
                текста&nbsp;&nbsp;к&nbsp;&nbsp;&nbsp;единой&nbsp;&nbsp;&nbsp;&nbsp;длине.<br>
                Токенизация&nbsp;&nbsp;&nbsp;&nbsp;текста&nbsp;&nbsp;&nbsp;&nbsp;- <br>
                разбиение&nbsp;&nbsp;&nbsp;текста&nbsp;&nbsp;&nbsp;&nbsp;на&nbsp;&nbsp;&nbsp;отдельные<br>
                токены&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;предложения,&nbsp;слова&nbsp;&nbsp;&nbsp;и <br>
                другие&nbsp;&nbsp;&nbsp;части&nbsp;&nbsp;&nbsp;слова.</b></p>
      </article>

    </div>
  </div>
</section>

    <footer class="footer-wrapper">
        <div class="footer-content">
            <div class="footer-left-box">
            <div class="footer">
                <div class="footer-logos">
                    <div class="footer-white-cards">
         <a href="/" class="logo-muiv-footer">
			<img src="/static/img/favicon.png" width="240" height="105" class="logo-muiv--full"
					 alt="МУ им. С.Ю. Витте">
		</a></div>
                <div class="footer-white-cards">

            <a href="/" class="logo-itos">
			<img src="/static/img/ITOS.ico" width="105" height="154" class="logo-itos"
					 alt="МУ им. С.Ю. Витте">
		</a>
                    </div></div>
                <div class="rights">
              <p>©2025 МУИВ. Все права защищены.</p>
                </div>

        </div>
            </div>
        </div>
        </footer>
</body>
</html>



