{% load static %}
<link rel="stylesheet" href="{% static 'css/manager_dashboard.css' %}">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет менеджера</title>
</head>
<body>


<!-- Шапка сайта -->
<header class="main-header">
    <div class="header-content">
<nav class="top-nav">
	<div class="header">
		<a href="/" class="logo-muiv">
			<img src="/static/img/favicon.png" width="240" height="105" class="logo-muiv--full"
					 alt="МУ им. С.Ю. Витте">
		</a>
        <a class="menu" href="/">Главная</a>
	    <a class="menu" href="/blog/faq/">Часто задаваемые вопросы</a>
	    <a class="menu" href="/blog/about/">О программе</a>
        <a class="menu" href="/blog/contacts/">Контакты</a>

</div>
</nav>
<!-- /Шапка сайта -->
</div>
</header>

<section class="wrapper">
    <div class="upload-content">
        <div class="hello-info">
        <nav class="breadcrumb">
        <a href="/">Главная</a>
        <span>&gt;Загрузить отчет</span>
        </nav>
      <h1 class="red-text" style="color:#DC3545">Здравствуйте, {{ request.user.name }} {{ request.user.patronymic }}!<br>
        Сегодня прекрасный день<br>
        для загрузки отзывов студентов. </h1>
            </div>
                    <div class="upload-logo">
            <div class="excel-logo">
                <div class="dark-blue-logo-text"><b>Загрузи отзывы - <br>
                    сделай МУИВ лучше!</b></div>
                <img class="img-excel" src="/static/img/Excel.png" alt="Excel-logo">

            </div>

          </div>
</div>
</section>


<section class="light-blue-wrapper-upload">
  <div class="upload-text-content">
      <h2 class="dark-blue-text-upload">Инструкция по загрузке<br>
          отзывов в ИТОС</h2>
    <div class="upload-white-cards">
      <article class="card-about-upload">
        <p class="dark-blue-text-upload">
            <b>1. Откройте<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Excel,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;заполните<br>
                &nbsp;&nbsp;&nbsp;&nbsp;отзывами.</b></p>
      </article>
      <article class="card-about-upload">
        <p class="dark-blue-text-upload">
            <b>2. Выберите<br>
                &nbsp;&nbsp;&nbsp;&nbsp;файл<br>
                &nbsp;&nbsp;&nbsp;&nbsp;Excel<br>
                &nbsp;&nbsp;&nbsp;&nbsp;для загрузки.</b></p>
      </article>
      <article class="card-about-upload">
        <p class="dark-blue-text-upload">
            <b>3. Нажимаете<br>
                &nbsp;&nbsp;&nbsp;&nbsp;кнопку<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"Загрузить<br>
                &nbsp;&nbsp;&nbsp;&nbsp;отчет".</b></p>
      </article>
      <article class="card-about-upload">
        <p class="dark-blue-text-upload">
            <b>4. Повышаете<br>
                &nbsp;&nbsp;&nbsp;свой КПЭ<br>
                &nbsp;&nbsp;&nbsp;за загрузку<br>
                &nbsp;&nbsp;&nbsp;отзывов.</b></p>
      </article>
    </div>
  </div>
</section>

<section class="dark-wrapper-upload">
  <div class="button-content">
    <div class="upload-btn">
      <a href="/blog/nlp/" class="btn-upload-btn">Выберите Excel для загрузки</a>
      </div>

      <div class="upload-btn">
        <a href="/blog/nlp/" class="btn-upload-btn">Загрузить отчет</a>
  </div>
  </div>
</section>

<footer class="footer-wrapper">
        <div class="footer-content">
            <div class="footer">
                <div class="footer-white-cards">
         <a href="/" class="logo-muiv-footer">
			<img src="/static/img/favicon.png" width="240" height="105" class="logo-muiv--full"
					 alt="МУ им. С.Ю. Витте">
		</a></div>
                <div class="footer-white-cards">

            <a href="/" class="logo-itos">
			<img src="/static/img/ITOS.ico" width="105" height="154" class="logo-itos"
					 alt="МУ им. С.Ю. Витте">
		</a>
                    </div>
                <div class="rights">
              <p>©2025 МУИВ. Все права защищены.</p>
                </div>
            </div>
        </div>
        </footer>
</body>
</html>
