    body {
            font-family: Roboto;
            margin: 0;
            padding: 0;
        }

        .wrapper {
            height: 322px;
            margin: 0 auto;
        }

        .about-content {
            width: 1200px;
            height: 322px;
            display: flex;
            align-items: flex-start;
            margin: 0 auto;
        }
        .about-info {
            width: 520px;
            height: 300px;
        }

        header {
            display: center;
            margin: 0 auto;
            width: 1250px;
            height: 117px;
            padding-top: 49px;
            }
    .main-header {
    position: relative;
    z-index: 1000;
}
    /* --- MAIN NAV --- */
    nav{
      background:#fff;
      border-bottom:1px solid #e0e0e0;
      display: flex;
      align-items:center;
      padding:30px 20px;
      height:56px;
      gap:32px;
    }
    nav a{
      color:#005baa;
      text-decoration:none;
      font-size:15px;
      font-weight:500;
      position:relative;
      padding:6px 0;
      transition:.25s;
    }
    nav a:hover{color:#004080;}
    /* underline on hover */
    nav a::after{
        content:'';
        position:absolute;
        bottom:-2px;
        left:0;
        width:0;
        height:2px;
        background:#005baa;
        transition:.3s;
    }

    nav a:hover::after{width:100%;}

    .dark-blue-text-about, h2.dark-blue-text-about-center {
        color: #132041;
    }

    p.dark-blue-text-about {
        line-height: 1.1;
        font-weight: 600px;
        font-size: 20px;

    }
    h2.dark-blue-text-about, h2.dark-blue-text-about-center {
        font-size: 24px;
        font-weight: 700px;
    }

    .dark-blue-text-about-center {
        width: 100%;
        text-align: center;
        margin: 20px 0;
        }


    .light-blue-wrapper {
        padding: 66px 250px 77px 250px;
        background-color: #CFE2FF;
        display: flex;
        justify-content: center;
        min-height: 350px;
    }

    h1.dark-blue-text {
        color: #132041;
        font-size: 36px;
        font-weight: 900px;
        }

    .card-about-program {
        border-radius: 10px;
        background-color: white;
        width: 315px;
        height: 170px;
        padding: 10px 20px 0 30px;
        margin: 0 10px 10px 0;
        display: inline-block;
        }
    .card-about-program-second {
        border-radius: 10px;
        background-color: white;
        width: 315px;
        height: 68px;
        padding: 0 20px 0 30px;
        margin: 0 10px 10px 0;
        display: inline-block;
    }

    .about-white-cards{
        display: flex;
        justify-content: center;
        gap: 5px;
        flex-wrap: nowrap;
        }

    .menu {
        margin: 0 30px;
        font-size: 15px;
        }

    .about-img  {
        border-radius: 10px;
        height: 322px;
        width: 432px;
        margin-left: auto;
        flex-shrink: 0;
        }

    .breadcrumb {
        height: 5px;
        }

    .about-text-content {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        gap: 60px;
        flex-wrap: wrap;
        }
        .footer-wrapper {
            padding-top: 10px;
            display: center;
            margin: 0 auto 0 auto;
            width: 1250px;
        }
        .footer-content {
            display: center;
            margin: 0 auto;
            }
        .footer {
            height: 150px;
            display: center;
        }
        .footer-white-cards {
            height: 100px;
            padding: 0 10px 0 10px;
            margin: 0 100px;
            display: inline-block;
        }
        .rights {
            height: 10px;
            margin: 0 100px;
        }

        .logo-muiv-footer {
            padding-bottom: 0;
        }
