        body {
            font-family: Roboto;
            margin: 0;
            padding: 0;
        }

        .wrapper {
            min-height: 322px;
            margin: 0 auto;
        }

        .eda-content {
            width: 1200px;
            height: 322px;
            display: flex;
            align-items: flex-start;
            margin: 0 auto;
            justify-content: space-between;
            box-sizing: border-box;
            padding-top: 0;
        }

        .viz {
        border-radius: 10px;
        height: 800px;
        width: 500px;
}



        .eda-info {
            width: 550px;
            height: 300px;
        }
        header {
            display: center;
            margin: 0 auto;
            width: 1250px;
            height: 117px;
            padding-top: 49px;
            }
    .main-header {
    position: relative;
    z-index: 1000;
}

    /* --- MAIN NAV --- */
    nav{
      background:#fff;
      border-bottom:1px solid #e0e0e0;
      display: flex;
      align-items:center;
      padding:30px 20px;
      height:56px;
      gap:32px;
    }
    nav a{
      color:#005baa;
      text-decoration:none;
      font-size:15px;
      font-weight:500;
      position:relative;
      padding:6px 0;
      transition:.25s;
    }
    nav a:hover{color:#004080;}
    /* underline on hover */
    nav a::after{
        content:'';
        position:absolute;
        bottom:-2px;
        left:0;
        width:0;
        height:2px;
        background:#005baa;
        transition:.3s;
    }

    nav a:hover::after{width:100%;}

    .yellow-wrapper-eda {
        padding: 0 30px 0 70px;
        background-color: rgba(255, 193, 7, 0.4);
        min-height: 420px;
    }
        .dark-wrapper-eda {
        padding: 0 30px 0 70px;
        background-color: #132041;
    }

    .dark-blue-text-eda {
        color: #132041;
    }

    p.dark-blue-text-eda {
        line-height: 1;
        font-weight: 600px;
        font-size: 22px;

    }
    h3.dark-blue-text-eda{
        font-size: 26px;
        font-weight: 700px;
        line-height: 1;
    }

    h2.dark-blue-text-eda, h2.white-text-eda{
        font-size: 34px;
        font-weight: 700px;
    }
    .white-text-eda {
        color: white;
    }

    h1.dark-blue-text {
        color: #132041;
        font-size: 36px;
        font-weight: 900px;
        }

    .card-about-eda {
        border-radius: 10px;
        background-color: white;
        width: 450px;
        height: 210px;
        padding: 10px 20px 0 30px;
        margin: 10px 70px 30px 10px;
        display: inline-block;
        }

    .menu {
        margin: 0 30px;
        font-size: 15px;
        }


    .eda-img  {
        border-radius: 10px;
        height: 350px;
        width: 429px;
        line-height: 0;
        font-size: 0;
        margin: 0;
        padding: 0;

        }

    .photo {
        height: 322px;
        }

    .breadcrumb {
        height: 5px;
        }

    .eda-text-content {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        }


   .light-blue-wrapper-eda {
        padding: 30px 70px 50px 70px;
        background-color: #CFE2FF;
        display: flex;
        justify-content: center;
    }


    .eda-viz-imgs{
        display: flex;
        justify-content: center;
        gap: 40px;
        padding: 0 45px 20px 0;
        flex-wrap: wrap;
        width: 100%;
}
.eda-viz-content h2 {
    width: 100%;
    margin: 20px 0;
}
    .eda-viz-content {

        width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
            .footer-wrapper {
            padding-top: 10px;
            display: center;
            margin: 0 auto 0 auto;
            width: 1250px;
        }
        .footer-content {
            display: center;
            margin: 0 auto;
            }
        .footer {
            height: 150px;
            display: center;
        }
        .footer-white-cards {
            height: 100px;
            padding: 0 10px 0 10px;
            margin: 0 100px;
            display: inline-block;
        }
        .rights {
            height: 10px;
            margin: 0 100px;
        }

        .logo-muiv-footer {
            padding-bottom: 0;
        }
