    body {
            font-family: Roboto;
            margin: 0;
            padding: 0;
        }

        .wrapper {
            height: 322px;
            margin: 0 auto;
            width: 1250px;
            margin:0 auto;

        }


        .faq-content {
            width: 1200px;
            display: flex;
            margin: 0 auto;
            align-items: flex-start;
            gap: 60px;
        }
        .faq-info {
            width: 550px;
            height: 300px;
            flex-shrink: 0;
        }


        .faq-logo  {
            background-color: #132041;
            border-radius: 10px;
            height: 322px;
            width: 432px;
            margin-left: auto;
        flex-shrink: 0;
            }

        header {
            display: center;
            margin: 0 auto;
            width: 1250px;
            height: 117px;
            padding-top: 49px;
}
    /* --- MAIN NAV --- */
    nav{
      background:#fff;
      border-bottom:1px solid #e0e0e0;
      display: flex;
      align-items:center;
      padding:30px 20px;
      height:56px;
      gap:32px;
    }
    nav a{
      color:#005baa;
      text-decoration:none;
      font-size:15px;
      font-weight:500;
      position:relative;
      padding:6px 0;
      transition:.25s;
    }
    nav a:hover{color:#004080;}
    /* underline on hover */
    nav a::after{
        content:'';
        position:absolute;
        bottom:-2px;
        left:0;
        width:0;
        height:2px;
        background:#005baa;
        transition:.3s;
    }

    nav a:hover::after{width:100%;}

    .dark-blue-text-faq {
        color: #132041;
    }

    p.dark-blue-text-faq {
        line-height: 1.1;
        font-weight: 600px;
        font-size: 20px;

    }
    h2.dark-blue-text-faq {
        font-size: 24px;
        font-weight: 700px;
    }


    .yellow-wrapper {
        padding:66px 10px 77px 60px;
        background-color: rgba(255, 193, 7, 0.4);
        display: center;
        height: 544px;
    }

    h1.red-text {
        color: #DC3545;
        font-size: 36px;
        font-weight: 900px;
        }

    .card-with-faq {
        border-radius: 10px;
        background-color: white;
        width: 315px;
        height: 238px;
        padding: 10px 20px 0 30px;
        margin: 0 10px 40px 0;
        display: inline-block;
        }

        .faq-white-cards{
            display: center;
           }

        .menu {
        margin: 0 30px;
        font-size: 15px;
        }


        .img-faq{
            padding: 5px 0 0 30px;
        }

        .breadcrumb {
            height: 5px;
            margin: 0;
        }
        .faq-text-content {
            height: 400px;
            width: 1250px;
            display: center;
            margin: 0 auto;
        }
                .footer-wrapper {
            padding-top: 10px;
            display: center;
            margin: 0 auto 0 auto;
            width: 1250px;
        }
        .footer-content {
            display: center;
            margin: 0 auto;
            }
        .footer {
            height: 150px;
            display: center;
        }
        .footer-white-cards {
            height: 100px;
            padding: 0 10px 0 10px;
            margin: 0 100px;
            display: inline-block;
        }
        .rights {
            height: 10px;
            margin: 0 100px;
        }

        .logo-muiv-footer {
            padding-bottom: 0;
        }
        .white-logo-text   {
            color: white;
            line-height: 1.1;
            font-weight: 600px;
            font-size: 32px;
            padding-bottom: 50px;
            padding-top: 10px;
            padding-left: 20px;
            }
