        body {
            font-family: Roboto;
            margin: 0;
            padding: 0;
        }


        .wrapper {
            height: 322px;
            margin: 0 auto;
        }

        .main-content {
            height: 500px;
            width: 1150px;
            display: center;
            margin: 0 auto;

        }
        .main-info {
            width: 500px;
            height: 300px;
            position: absolute;
        }

        .main-btn {
            background-color: #4F6A84;
            border-radius: 10px;
            position: absolute;
            left: 10px;
            top: 200px;
            height: 40px;
            width: 150px;
        }

        .btn-homepage-btn {
            display: flex;
            padding-top: 10px;
            color: white;
            font-size: 15px;
            font-weight: 600;
            text-decoration: none;
            justify-content: center;
        }


        .main-img  {
            border-radius: 20px;
            height: 322px;
            width: 429px;
            float: right;
            margin: 0 auto;
            }

            header {
                display: center;
                margin: 0 auto;
                width: 1250px;
                height: 117px;

                padding-top: 49px;
            }



    /* --- MAIN NAV --- */
    nav{
      background:#fff;
      border-bottom:1px solid #e0e0e0;
      display: flex;
      align-items:center;

      padding:30px 20px;
      height:56px;
      gap:32px;
    }
    nav a{
      color:#005baa;
      text-decoration:none;
      font-size:15px;
      font-weight:500;
      position:relative;
      padding:6px 0;
      transition:.25s;
    }
    nav a:hover{color:#004080;}
    /* underline on hover */
    nav a::after{
        content:'';
        position:absolute;
        bottom:-2px;
        left:0;
        width:0;
        height:2px;
        background:#005baa;
        transition:.3s;
    }

    nav a:hover::after{width:100%;}

    .about-wrapper{
        height: 350px;
        padding: 100px 250px;
        background-color: #CFE2FF;
        display: center;


    }

    .dark-blue-text {
        color: #132041;
    }
    p.dark-blue-text {
        line-height: 0.2;
        font-weight: 700px;
        font-size: 24px;

    }

    .dark-blue-wrapper {

        padding: 50px 250px;
        background-color: #132041;
        display: center;
        height: 500px;
    }
    .stats-content {
        height: 400px;
        width: 1150px;
        display: center;
        margin: 0 auto;
        }

    .description {
        font-size: 36px;
        line-height: 0.2;
        width: 600;
    }

    .message-content {
        justify-content: center;
        background-color: white;
        border-radius: 10px; /* Скругленные углы */
        padding: 25px 40px;
        color: #343a40; /* Цвет текста */
        display: center;
        margin: auto auto;
        line-height: 20px;
        width: 850px;
        }
    .white-text {
        color: white;
        font-size: 38px;
        font-weight: 900px;
        }

    .red-text {
        color: #DC3545;
        font-size: 38px;
        font-weight: 900px;
        }

        .info-card-about-itos {
            border-radius: 10px;
            background-color: white;
            width: 274px;
            height: 130px;
            padding: 5px 10px;
            margin: 0 40px;
            display: inline-block;
        }
        .itos-info-white-cards{
            height: 200px;
            display: center;
           }

        h1 {
            font-size: 40px;
        }
        h2.dark-blue-text {
            font-size: 38px;
            font-weight: 700px;
        }

        .menu {
            margin: 0 30px;
            font-size: 15px;
        }

        .footer-wrapper {
            padding-top: 10px;
            display: center;
            margin: 0 auto 0 auto;
            width: 1250px;
        }
        .footer-content {
            display: center;
            margin: 0 auto;
            }
        .footer {
            height: 150px;
            display: center;
        }
        .footer-white-cards {
            height: 100px;
            padding: 0 10px 0 10px;
            margin: 0 100px;
            display: inline-block;
        }
        .rights {
            height: 10px;
            margin: 0 100px;
        }

        .logo-muiv-footer {
            padding-bottom: 0;
        }
